<%= flash[:success] %>
<div class='row'>
  <div class="col-md-3">
    <h1>User info</h1>
      <%= render 'info', user: @user %>
    <h1>New book</h1>
      <%= render 'books/form', book: @book %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h3>Books</h3>
    <%= render 'books/index', books: @books %>

    <!--投稿数表示-->
    <div class="books_counts">
      <table class="table">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @tdbooks %></td>
            <td><%= @ysbooks %></td>
            <td><%= @day_before_ratio %>%</td>
          </tr>
        </tbody>
        <thead>
          
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @this_books %></td>
            <td><%= @last_books %></td>
            <td><%= @week_before_ratio %>%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>