<%= flash[:success] %>
<div class='row'>
  <div class="col-md-3">
    <h1>User info</h1>
      <%= render 'info', user: @user %>
    <h1>New book</h1>
      <%= render 'books/form', user: @user, book: @book %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h3>Books</h3>
    <%= render 'books/index', books: @books, user: @user %>
    <div class="books_counts">
      <table class="table">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @today_books.count %></td>
            <td><%= @daybefore_books.count %></td>
            <td></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>