<%= flash[:success] %>
<div class='row'>
  <div class="col-md-3">
    <%= render 'books/list', user: @user, book: @newbook %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h1>Book detail</h1>
    <table>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@user.id) do %>
              <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "noimage.jpeg" %>
            <% end %>
            <br><%= link_to @user.name, user_path(@user.id) %>
          </td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>
          <% if @user.id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@book.id), class: 'btn btn-sm btn-success edit_book_603' %></td>
            <td><%= link_to 'Destroy', book_path, method: :delete, class: 'btn btn-sm btn-danger destroy_book_603' %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>