<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav ml-auto">
        <%= render 'layouts/header' %>
      </ul>
    </div>
  </header>


  <body>
    <i class="text-center">
      <%= render 'layouts/search' %>
    </i>
    <div class='container'>
      <%= notice %>
        <%= yield %>
    </div>
  </body>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
